a{
    font-family: "Lufga", sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

a:hover{
    color: #56F89A;
}

li{
    list-style: none;
}

h1, h2, h3{
    font-family: "Lufga", sans-serif;
    padding-top: 20px;
    margin-left: 25px;
    font-size: 25px;
}

h2{
    font-size: 16px;
}

h3{
    color: #9D9B9B;
    font-size: 13px;
    font-weight: 200;
    padding-top: 0px;
}

textarea{
    width: 281px;
    height: 98px;
    font-family: "Lufga", sans-serif;
    font-size: 14px;
    margin-top: 25px;
    margin-left: 36px;
    background-color: #C4C4C4;
    border: none;
    border-radius: 0.5em;
}

body > ul:nth-child(2) {
    padding-left: 15px;
}


#header {
    display: flex;
    border-top-width: 0px;
    border-top-style: solid;
    margin-top: -55px;
    margin-left: 60px;
}
   
.icons {
    width: 20px;
  }

#snipple {
    width: 50px;
    height: 35px;
    padding-left: 32px;
}

#searchIcon{
position: absolute;
left: 75%;
right: 13.42%;
top: 14%;
bottom: 27.38%;
margin-top: -48px;
}

#userAvatar{
position: absolute;
left: 85%;
right: 0%;
top: 13.97%;
bottom: 30.17%;
margin-top: -50px;
}

#plusIcon {
    width: 15px; 
}

#cardContainer{
    height: 138px;
    width: 281px;
    left: 40px;
    top: 238px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.21);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 30px;
}

#authorAvatar{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 290px;
    top: 395px;
}

#title {
    margin-left: 36px;
    border: none;
}

#subtitle {
    height: 50px;
    background: #f9f9f9;
  }

#body {
    background: #f9f9f9;
}
#root > h1:nth-child(2) {
    margin-left: 38px;
}

#saveButton {
    margin-left: 38px;
    border-radius: 3px;
    margin-top: 20px;
}


   
